
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	margin-top: 10px;
}
h1, h3 {
	font-family: 'Oswald', sans-serif;
}
h1 {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(80%);	
}

img {
	float: left;
}

@media only screen and (min-width: 992px) {
	#container {
		margin-left: 50;
		margin-right: 50;
	}
}
.panel-default .panel-heading {
	background-color: #8FC41C;
}
a {
	color: black
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
.panel-body ul {
	list-style: none;
}
#user_welcome:hover {
	background-color: white;
}