
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	margin-top: 10px;
}
h1, h3 {
	font-family: 'Oswald', sans-serif;
}
h1 {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(80%);	
}

img {
	float: left;
}

@media only screen and (min-width: 992px) {
	#container {
		margin-left: 50;
		margin-right: 50;
	}
}
.panel-default .panel-heading {
	background-color: #8FC41C;
}
a {
	color: black
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
.panel-body ul {
	list-style: none;
}
#user_welcome:hover {
	background-color: white;
}

/** LOGIN **/

p.form-title {
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-top: 5%;
    letter-spacing: 4px;
}
#login-form
{
    width: 300px;
    margin: 0 auto;
}
#login-form input[type="text"], #login-form input[type="password"], .pass-reset input[type="email"]
{
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-bottom: 1px solid #000;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000;
    outline: 0;
}
#login-form input[type="submit"], .pass-reset input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #8FC41C;
    border-color: #8FC41C;
    color: #000;
}
#login-form input[type="submit"]:hover, .pass-reset input[type="submit"]:hover
{
    background-color: #6FC41C;
}
#forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
	#forgot-pass-content a {
		float: right;
	}
}
#login-form label, form.login a
{
    font-weight: 400;
    color: #000;
}
#login-form a:hover
{
    color: #6FC41C;
}

.form-errors {
	color: #E34724;
}